@import "tailwindcss";

:root {
  --bg-start: #d8ff30;
  --bg-mid: #214211;
  --bg-end: #000f08;
  --foreground: #ededed;
}

@theme inline {
  --color-foreground: var(--foreground);
}

body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--bg-start) 0%,
    var(--bg-mid) 45%,
    var(--bg-end) 100%
  );
  background-size: 200% 200%;
  animation: slowRotate 18s ease infinite;
  color: var(--foreground);
  font-family: var(--font-hind), var(--font-poppins), sans-serif;
}

@keyframes slowRotate {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* floating animation */
.floating-anim {
  animation: floating 3.3s ease-in-out infinite;
}

@keyframes floating {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

@layer base {
  html, body {
    font-family: var(--font-hind), var(--font-poppins), sans-serif;
  }
}
